.chatbot-container {
    max-width: 300px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 40px black;
    background: linear-gradient(45deg, rgb(107, 24, 231), rgb(107, 24, 231), #6b18e7, rgb(107, 24, 231));
    z-index: 2147483647; /* Maximum z-index value */
  }
  
  .chatbot-messages {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
  }
  
  .userz{
    background-color: #e6f2ff;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .bot {
    background-color: #f0f0f0;
    align-self: flex-start;
  }
  
  .chatbot-input-form {
    display: flex;
    gap: 10px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }